# Missing Data

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'A':[1, 2, np.nan],
                  'B':[3, np.nan, np.nan],
                  'C':[4, 5, 6]})

In [3]:
df

     A    B  C
0  1.0  3.0  4
1  2.0  NaN  5
2  NaN  NaN  6

Drop any row with one or more NaN value

By default the axis parameter in dropna is 0 i.e. row.

You can change it to 1 if you want to drop column

In [4]:
df.dropna()

     A    B  C
0  1.0  3.0  4

In [5]:
df.dropna(axis=1)

   C
0  4
1  5
2  6

You can set threshold to 2 which will drop rows or column if it has 2 or more NaN values.

In [6]:
df.dropna(thresh=2)

     A    B  C
0  1.0  3.0  4
1  2.0  NaN  5

Most of the time we don't want to loss the data and thus we fill in the value of the missing values.

In [7]:
df.fillna(value='FILL VALUE')

            A           B  C
0           1           3  4
1           2  FILL VALUE  5
2  FILL VALUE  FILL VALUE  6

Normally what we do is we fill the missing values either with the mean or median of the column.

In [8]:
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64